{% if ssh_harden | default(false) %}
Ciphers -3des-cbc,aes*-cbc
GSSAPIAuthentication no
KexAlgorithms -ecdh*,diffie-hellman*
MACs -*sha1*,umac-64*
{% endif %}

{% for item in ssh_hosts | default([]) %}
Host {{ item.host }}
{% if item.hostname is defined %}
    Hostname {{ item.hostname }}
{% endif %}
{% if item.user is defined %}
    User {{ item.user }}
{% endif %}
{% if item.port is defined %}
    Port {{ item.port }}
{% endif %}
{% if item.identityfile is defined %}
    IdentityFile {{ item.identityfile }}
{% endif %}

{% endfor %}
