git_config_personal_name: User
git_config_personal_email: user@example.com

git_config_work_name: User
git_config_work_email: user@example.com

# git_ssh_signing_key: ~/.ssh/id_git_signing

apt_pkg:
  # misc
  - bash-completion
  - bind9-dnsutils
  - build-essential
  - git
  - golang
  - htop
  - ipcalc
  - iputils-ping
  - iputils-tracepath
  - jq
  - python3-pip
  - python3-venv
  - mc
  - mtr-tiny
  - traceroute
  - unzip
  - wget
  - whois
  - yq
  # dev
  - azure-cli
  # tex
  # - texlive-full

install_docker: true

# dotnet:
#   - channel: lts
#   - channel: 9.0
#   - channel: 10.0
#     quality: preview

homebrew_taps:
  - azure/kubelogin
  - derailed/k9s
  - fluxcd/tap
  - hashicorp/tap
  - int128/kubelogin

homebrew_pkg:
  - azure/kubelogin/az-kubelogin
  - cmctl
  - derailed/k9s/k9s
  - fluxcd/tap/flux
  - gh
  - gickup
  - hashicorp/tap/packer
  - hashicorp/tap/terraform
  - helm
  - hugo
  - int128/kubelogin/kubelogin
  - kind
  - kubectl
  - kustomize
  - kyverno

ansible_inventory:
  - ~/personal/automation/inventory

# k3s:
#   - name: k3s
#     host: k3s.local

# ssh_harden: true
# ssh_hosts:
#   - host: test.example.com
#   - host: test2
#     hostname: test2.example.com
#     user: username
#     port: 99

git_clone:
  - repo: https://github.com/bschapendonk/wsl.git
    dest: ~/personal/wsl
