---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Copy ansible configuration file to home directory
  ansible.builtin.copy:
    dest: ~/.ansible.cfg
    content: |
      [defaults]
      callback_format_pretty=true
      result_format=yaml
      {% if ansible_inventory is defined and ansible_inventory | length > 0 %}
      inventory={{ ansible_inventory | join(',') }}
      {% endif %}
    mode: 0640

- ansible.builtin.pip:
    name:
      - ansible
      - ansible-builder
      - argcomplete
      - jsonpatch
      - kubernetes
      - netaddr
      - passlib
      - pip
      - proxmoxer
      - python-debian
    virtualenv: ~/.ansible
    virtualenv_command: python3 -m venv
    state: latest
