---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Install Docker and Required Packages
  ansible.builtin.apt:
    pkg:
      - containerd.io
      - docker-buildx-plugin
      - docker-ce
      - docker-ce-cli
      - docker-compose-plugin

- ansible.builtin.copy:
    content: |
      {
        "fixed-cidr-v6": "2001:db8:1::/64",
        "ip6tables": true,
        "ipv6": true
      }
    dest: /etc/docker/daemon.json
    mode: 0644
    
- name: Start and Enable Docker Service
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: docker.service

- name: Start and Enable Containerd Service
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: containerd.service

- name: Add User to Docker Group
  ansible.builtin.user:
    name: >-
      {{ ansible_facts.env.USER }}
    groups: docker
    append: true
