---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Configure Git credential helper
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: credential.helper
    value: /mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe

- name: Enable HTTP path for Azure DevOps credentials
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: credential.https://dev.azure.com.useHttpPath
    value: >-
      true

- name: Set GPG format to SSH
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: gpg.format
    value: ssh

- name: Enable GPG signing for commits
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: commit.gpgsign
    value: >-
      true

- name: Ensure personal directory exists
  ansible.builtin.file:
    path: ~/personal
    state: directory
    mode: 0750

- name: Include personal Git configuration
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: includeIf.gitdir:~/personal/.path
    value: ~/personal/.gitconfig

- name: Ensure work directory exists
  ansible.builtin.file:
    path: ~/work
    state: directory
    mode: 0750

- name: Include work Git configuration
  community.general.git_config:
    scope: file
    file: ~/.gitconfig
    name: includeIf.gitdir:~/work/.path
    value: ~/work/.gitconfig

- name: Set personal Git user name
  community.general.git_config:
    scope: file
    file: ~/personal/.gitconfig
    name: user.name
    value: >-
      {{ git_config_personal_name }}

- name: Set personal Git user email
  community.general.git_config:
    scope: file
    file: ~/personal/.gitconfig
    name: user.email
    value: >-
      {{ git_config_personal_email }}

- name: Set personal Git signing key
  community.general.git_config:
    scope: file
    file: ~/personal/.gitconfig
    name: user.signingkey
    value: >-
      {{ git_ssh_signing_key }}

- name: Set work Git user name
  community.general.git_config:
    scope: file
    file: ~/work/.gitconfig
    name: user.name
    value: >-
      {{ git_config_work_name }}

- name: Set work Git user email
  community.general.git_config:
    scope: file
    file: ~/work/.gitconfig
    name: user.email
    value: >-
      {{ git_config_work_email }}

- name: Set work Git signing key
  community.general.git_config:
    scope: file
    file: ~/work/.gitconfig
    name: user.signingkey
    value: >-
      {{ git_ssh_signing_key }}


- name: Clone Git repositories
  ansible.builtin.git:
    repo: >-
      {{ item.repo }}
    dest: >-
      {{ item.dest }}
    update: false
    accept_newhostkey: yes
  loop: >-
    {{ git_clone | default([]) }}
  tags:
    - never
    - git_clone
