---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Add Azure CLI Repository for Ubuntu
  ansible.builtin.deb822_repository:
    name: azure-cli
    uris: https://packages.microsoft.com/repos/azure-cli
    suites: noble
    components:
      - main
    signed_by: https://packages.microsoft.com/keys/microsoft.asc

- name: Add Docker Repository for Ubuntu
  ansible.builtin.deb822_repository:
    name: docker
    uris: https://download.docker.com/linux/ubuntu
    suites: questing
    components:
      - stable
    signed_by: https://download.docker.com/linux/ubuntu/gpg
  when: install_docker
