---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Update and Upgrade System Packages
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
    cache_valid_time: 3600
    update_cache: "{{ azure_cli_repo.changed or (install_docker and docker_repo.changed) }}"
    upgrade: true

- name: Install Specified Packages
  ansible.builtin.apt:
    pkg: >-
      {{ apt_pkg }}
