alias ansa='source ~/.ansible/bin/activate'
alias mc='mc --nosubshell'
alias ipcalc=ipcalc-ng

if command -v code-insiders &> /dev/null
then
    alias code=code-insiders
fi

{% if az | default(false) %} 
cca() {
    az login --output none
}
{% endif %}

ccc() {
{% if az | default(false) %}
    az logout --output none
    az-kubelogin remove-tokens
    az-kubelogin remove-tokens --token-cache-dir /mnt/c/Users/$USER/.kube/cache/kubelogin
{% endif %}
{% if install_docker %}
    docker logout all
{% endif %}
}

cck() {
{% for item in k3s | default([]) %}
    ssh {{ item.host }} "sudo cat /etc/rancher/k3s/k3s.yaml" >$HOME/.kube/{{ item.name | lower }}
    chmod 600 $HOME/.kube/{{ item.name | lower }}
    yq -i '.clusters[].cluster.server |= "https://{{ item.host }}:6443"' $HOME/.kube/{{ item.name | lower }}
    yq -i '.contexts[].name |= "{{ item.name | lower }}"' $HOME/.kube/{{ item.name | lower }}
    yq -i '.current-context |= "{{ item.name | lower }}"' $HOME/.kube/{{ item.name | lower }}

{% endfor %}
{% if az | default(false) %}
    az login --output none

{% for item in az_aks | default([]) %}
    az account set --subscription {{ item.subscription }}
    az aks get-credentials --resource-group {{ item.resource_group }} --name {{ item.name }} --file $HOME/.kube/{{ item.alias | lower }} --overwrite-existing
    az-kubelogin convert-kubeconfig -l azurecli --kubeconfig $HOME/.kube/{{ item.alias | lower }}
    yq -i '.users[].user.exec.command |= "az-kubelogin"' $HOME/.kube/{{ item.alias | lower }}
{% endfor %}
    az logout --output none
{% endif %}
}

kcu() {
    unset KUBECONFIG
}

{% for item in k3s | default([]) %}
kc{{ item.name | lower }}() {
    export KUBECONFIG=$HOME/.kube/{{ item.name | lower }}
}

{% endfor %}
{% for item in az_aks | default([]) %}
kc{{ item.alias | lower }}() {
    export KUBECONFIG=$HOME/.kube/{{ item.alias | lower }}
}

{% endfor %}
{% for item in kc | default([]) %}
kc{{ item | lower }}() {
    export KUBECONFIG=$HOME/.kube/{{ item | lower }}
}

{% endfor %}
{% for item in az_subscriptions | default([]) %}
az{{ item.name | lower }}() {
    az account set --subscription {{ item.subscription }}
}

{% endfor %}
{% for item in az_aks | default([]) %}
az{{ item.alias | lower }}() {
    az account set --subscription {{ item.subscription }}
}

{% endfor %}
